.beer-card {
  padding: 30px;
  background-color: #808080;
  border-radius: 15px;

  &.red {
    background-color: red;
  }

  &__title {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
