.thermostat {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 160px;

  &__core {
    position: absolute;
    width: 160px;
    height: 160px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.4);

    &__ring {
      position: absolute;
      width: 140px;
      height: 140px;
      top: 10px;
      left: 10px;
      box-shadow: inset 2px 4px 4px 0px rgba(0,0,0,0.4);
      background: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(0,235,86,1) 50%, rgba(255,0,0,1) 100%);
      border-radius: 50%;

      &__triangle {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 24%;
        left: 50%;
        background: #fff;
        transform-origin: 0 0;
        transform: rotate(45deg);
        border-radius: 0 0 75px 0;
      }
    }

    &__control {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 30px;
      left: 30px;
      border-radius: 50%;
      background-color: #455A64;
      box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.4);

      &__indicator {
        position: absolute;
        width: 2px;
        height: 12px;
        top: 2px;
        left: 50%;
        background-color: #fff;
        transform-origin: 0 45px;
        transform: rotate(0);
      }

      &__up-temp,
      &__down-temp {
        position: absolute;
        top: 20px;
        left: 4px;
        right: 0;
        text-align: center;
        font-size: 15px;
        color: #ea1307;
      }

      &__current-temp {
        position: absolute;
        top: 45px;
        left: 7px;
        right: 0;
        font-size: 28px;
        line-height: 25px;
        color: #fff;
        letter-spacing: -1px;
      }

      &__down-temp {
        top: 80px;
        color: #0c15e7;
      }
    }
  }
}
